<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dolapo's Blog | <%= title %></title>
</head>
<body>
    
    <nav>
        <div class="site-title">
            <a href="/"><h1>Dolapo's Blog</h1></a>
            <p>Dolapo's Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
            <li><a href="/background">My Background</a></li>
            <li><a href="/learn">Learn New Stuff</a></li>
            <li><a href="/hobbies">Hobbies</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Me</h2>
        <p>I am 21 and learning how to become a web developer</p>
        <p>It's a bit hard but I am going to see it through by the grace of God</p>
        <p>Also I am exhasted everyday. LOL</p>
    </div>
</body>
</html>